openapi: 3.0.3
info:
  contact:
    name: Life is Tech! USA
  description: This provides APIs which used from basically codex_usa_frontend
  title: CodeX USA Backend
  version: 1.0.0
servers:
- url: https://api.stg.lit-lx.com
- url: https://stg.lit-lx.com
tags:
- name: authentication
- name: codex
- name: playerApi
- name: maintenance
paths:
  /login:
    post:
      operationId: postLogin
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  loginId: PFS0000001
                  password: d&fo1n@dl-1!
            schema:
              $ref: '#/components/schemas/postLogin_request'
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    user:
                      id: 1234-1234-1234-1234
                      accessToken: ffff-ffff-00001234
                      role: student
              schema:
                $ref: '#/components/schemas/postLogin_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: given ID/Password are incorrect
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Login with ID/Password and get access token
      tags:
      - authentication
      x-eov-operation-handler: controllers/AuthenticationController
  /no-credential-login:
    post:
      operationId: postNoCredentialLogin
      requestBody:
        content:
          application/json:
            schema:
              properties: {}
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    user:
                      id: 1234-1234-1234-1234
                      accessToken: ffff-ffff-00001234
                      role: student
              schema:
                $ref: '#/components/schemas/postLogin_200_response'
          description: OK
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Login without ID/Password. This will make an anonymous user.
      tags:
      - authentication
      x-eov-operation-handler: controllers/AuthenticationController
  /clever/oauth/token:
    post:
      operationId: postCleverAuthenticate
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  code: be055f7b9d748811351a
                  grantType: authorization_code
                  redirectUri: http://localhost:3100
                  studentGroupId: student-group-id-1
                  organizationId: organization-id-1
            schema:
              $ref: '#/components/schemas/postCleverAuthenticate_request'
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    user:
                      id: 1234-1234-1234-1234
                      accessToken: ffff-ffff-00001234
                      role: student
              schema:
                $ref: '#/components/schemas/postCleverAuthenticate_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: error message.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get Clever user access token
      tags:
      - authentication
      x-eov-operation-handler: controllers/AuthenticationController
  /clever/roster-sync:
    get:
      description: This API provides get all the clever 's data' and add in codex
        database.
      operationId: getCleverRosterSync
      parameters:
      - explode: true
        in: query
        name: districtId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCleverRosterSync_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The user is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The user does not have permission to view all the packages.
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get Clever's data and add in codex database.
      tags:
      - clever-roster-sync
      x-eov-operation-handler: controllers/CleverRosterSyncController
  /google/oauth/token:
    post:
      operationId: postGoogleAuthenticate
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  user:
                    id: 1234-1234-1234-1234
                    accessToken: ffff-ffff-00001234
                    role: student
            schema:
              $ref: '#/components/schemas/postGoogleAuthenticate_request'
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    user:
                      id: 1234-1234-1234-1234
                      accessToken: ffff-ffff-00001234
                      role: student
              schema:
                $ref: '#/components/schemas/postCleverAuthenticate_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: error message.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get google user access token
      tags:
      - authentication
      x-eov-operation-handler: controllers/AuthenticationController
  /class-link/oauth/token:
    post:
      operationId: postClassLinkAuthenticate
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  user:
                    id: 1234-1234-1234-1234
                    accessToken: ffff-ffff-00001234
                    role: student
            schema:
              $ref: '#/components/schemas/postClassLinkAuthenticate_request'
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    user:
                      id: 1234-1234-1234-1234
                      accessToken: ffff-ffff-00001234
                      role: student
              schema:
                $ref: '#/components/schemas/postCleverAuthenticate_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: error message.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get class-link user access token
      tags:
      - authentication
      x-eov-operation-handler: controllers/AuthenticationController
  /class-link/roster-sync:
    get:
      description: This API provides get all the classlink 's data' and add in codex
        database.
      operationId: getClasslinkRosterSync
      parameters:
      - explode: true
        in: query
        name: districtId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The user is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The user does not have permission to view all the packages.
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get Classlink's data and add in codex database.
      tags:
      - classlink-roster-sync
      x-eov-operation-handler: controllers/ClasslinkRosterSyncController
  /reset-password-request:
    post:
      description: "POST API call when administartor, lit, or teacher user want to\
        \ reset their password."
      operationId: postUserResetPasswordRequest
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  email: test@email.com
            schema:
              $ref: '#/components/schemas/postUserResetPasswordRequest_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                Invalid email:
                  value:
                    error: Invalid email is provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: Student can not change their password.
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                user not found:
                  value:
                    error: The specified user not found.
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/postUserResetPasswordRequest_500_response'
          description: Internal Server Error
      summary: User reset password request.
      tags:
      - authentication
      x-eov-operation-handler: controllers/AuthenticationController
  /reset-password:
    post:
      description: "POST API call when administartor, lit, or teacher user reset their\
        \ password."
      operationId: postResetPassword
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  token: user-token
                  password: d&fo1n@dl-1!
            schema:
              $ref: '#/components/schemas/postResetPassword_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  value:
                    error: Password cannot be blank
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The specified token is expired.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "404":
          content:
            application/json:
              examples:
                token not found:
                  value:
                    error: The specified token not found.
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/postUserResetPasswordRequest_500_response'
          description: Internal Server Error
      summary: reset password.
      tags:
      - authentication
      x-eov-operation-handler: controllers/AuthenticationController
  /reset-password-request-resend:
    post:
      description: "POST API call when administartor, lit, or teacher user want to\
        \ resend reset password request."
      operationId: postUserResetPasswordRequestResend
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  token: ffff-ffff-00001234
            schema:
              $ref: '#/components/schemas/postUserResetPasswordRequestResend_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                Invalid token:
                  value:
                    error: Invalid token is provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                token not found:
                  value:
                    error: The specified token not found.
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/postUserResetPasswordRequest_500_response'
          description: Internal Server Error
      summary: User reset password request resend.
      tags:
      - authentication
      x-eov-operation-handler: controllers/AuthenticationController
  /users/{userId}/codeIllusionPackage:
    get:
      description: |-
        This API returns the CodeIllusionPacakges available to the specified user.
        If the user pointed to by the token does not have permission to view the information for the specified userId, an error will occur.
      operationId: getUsersUserIdCodeIllusionPackages
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    codeIllusionPackage:
                      id: package-id-1
                      level: basic
                      chapters:
                      - id: chapter-id
                        name: Chapter 1
                        title: Welcome to Technologia
                        circles:
                        - id: circle-id
                          course: basic
                          characterImageUrl: https://lit.com/character-image-1.png
                          clearedCharacterImageUrl: https://lit.com/character-image-1.png
                          gemLessonIds:
                          - lesson-id-1
                          - lesson-id-2
                          - lesson-id-3
                          bookLessonIds:
                          - lesson-id-4
                          - lesson-id-5
                          bookName: The Principal's Test
                          bookImageUrl: https://lit.com/book-image-1.png
              schema:
                $ref: '#/components/schemas/getUsersUserIdCodeIllusionPackages_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to view the specified
                      user's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                user not found:
                  value:
                    error: The specified user not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get User's CodeIllusion Packages
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /lessons:
    get:
      description: This API provides a list of Lesson definitions.
      operationId: getLessons
      parameters:
      - explode: true
        in: query
        name: lessonIds
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    lessons:
                    - id: lesson-id-1
                      url: https://player.lit.com/lesson/lesson-id-1
                      name: The Mouse Magic
                      lessonType: book
                      course: mediaArt
                      description: Learn how to input the mouse's movements using
                        the mouseX and mouseY functions.
                      thumbnailImageUrl: https://lit.com/thumbnail-image-1.png
                      lessonDuration: 3-8min
                      maxStarCount: 3
                    - id: lesson-id-2
                      url: https://player.lit.com/lesson/lesson-id-2
                      name: The Mouse Magic 2
                      lessonType: gem
                      course: gameDevelopment
                      description: Review mouse and circle variables as well as how
                        to add color. Learn how to use them with if statements.
                      thumbnailImageUrl: https://lit.com/thumbnail-image-2.png
                      lessonDuration: 3-8min
                      maxStarCount: 3
                    - id: lesson-id-3
                      url: https://player.lit.com/lesson/lesson-id-3
                      name: LESSON 1
                      lessonType: book
                      course: basic
                      description: "Learn how to use for statements to create many\
                        \ figures using short pieces of code, as well as how to connect\
                        \ it to your cursor."
                      thumbnailImageUrl: https://lit.com/thumbnail-image-3.png
                      lessonDuration: 3-8min
                      maxStarCount: 3
              schema:
                $ref: '#/components/schemas/getLessons_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "404":
          content:
            application/json:
              examples:
                not found:
                  value:
                    error: lesson ids 0001 not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get Lessons
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /users/{userId}/lessonStatuses:
    get:
      description: |-
        This API provides Lesson Statuses for the specified User.
        If the user pointed to by the token does not have permission to view the information for the specified userId, an error will occur.
      operationId: getUsersUserIdLessonStatuses
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: lessonIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    userLessonStatuses:
                    - lessonId: lesson-id-1
                      status: not_cleared
                      achievedStarCount: 2
                    - lessonId: lesson-id-2
                      status: not_cleared
                      achievedStarCount: 3
              schema:
                $ref: '#/components/schemas/getUsersUserIdLessonStatuses_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to view the specified
                      user's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                user not found:
                  value:
                    error: The specified user not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get User LessonStatuses
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /users/{userId}/settings:
    get:
      description: |-
        This API provides Settings for the specified User.
        If the user pointed to by the token does not have permission to view the information for the specified userId, an error will occur.
      operationId: getUserSettings
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    settings:
                      sound:
                        seVolume: 4
                        bgmVolume: 5
                        hintNarrationVolume: 0
                        serifNarrationVolume: 3
              schema:
                $ref: '#/components/schemas/getUserSettings_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to view the specified
                      user's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                user not found:
                  value:
                    error: The specified user not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get User Settings
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /users/{userId}/soundSettings:
    put:
      description: |-
        This API updates SoundSettings for the specified User.
        SoundSettings is the part of User's Settings.
        If the user pointed to by the token does not have permission to view the information for the specified userId, an error will occur.
      operationId: updateUserSoundSettings
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              request body:
                value:
                  seVolume: 4
                  bgmVolume: 5
                  hintNarrationVolume: 0
                  serifNarrationVolume: 3
            schema:
              $ref: '#/components/schemas/UserSoundSettings'
        description: ""
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    soundSettings:
                      seVolume: 4
                      bgmVolume: 5
                      hintNarrationVolume: 0
                      serifNarrationVolume: 3
              schema:
                $ref: '#/components/schemas/updateUserSoundSettings_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to view the specified
                      user's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                user not found:
                  value:
                    error: The specified user not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Update User SoundSettings
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /user-package-assignments:
    delete:
      description: This API deletes the UserPackageAssignment which are assigned to
        the specified user.
      operationId: deleteUserPackageAssignment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteUserPackageAssignment_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteUserPackageAssignment_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Delete User Package Assignment
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
    get:
      description: This API returns the UserPackageAssignment which are assigned to
        the specified user.
      operationId: getUserPackageAssignments
      parameters:
      - explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: packageId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserPackageAssignments_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "404":
          content:
            application/json:
              examples:
                user not found:
                  value:
                    error: The specified user not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get User Package Assignment
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
    post:
      description: This API create the UserPackageAssignment.
      operationId: postUserPackageAssignment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPackageAssignment'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postUserPackageAssignment_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: This user has the same category package already
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Create User Package Assignment
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /districts:
    get:
      description: |-
        This API provides all the Districts.
        If the user pointed to by the token does not have permission to view the information for the specified userId, an error will occur.
      operationId: getDistricts
      parameters:
      - explode: true
        in: query
        name: districtIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: LMSId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: enabledRosterSync
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    districts:
                    - id: district-1
                      name: District of Columbia
                      districtLMSId: null
                      lmsId: None
                      lastRosterSyncEventId: event-id-1
                      lastRosterSyncEventDate: 2022-05-29T16:07:41.835Z
                      enableRosterSync: false
                      stateId: AL
                      administrators: "admin@gmail.com,test@gmail.com"
                    - id: district-2
                      name: District of Florida
                      districtLMSId: 1
                      lmsId: Clever
                      lastRosterSyncEventId: event-id-2
                      lastRosterSyncEventDate: 2022-05-29T16:07:41.835Z
                      enableRosterSync: true
                      stateId: GL
                      administrators: "admin1@gmail.com,test1@gmail.com"
              schema:
                $ref: '#/components/schemas/getDistricts_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to view the specified
                      district's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                user not found:
                  value:
                    error: The specified district not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get All Districts
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /district:
    post:
      description: District POST API call when user want to add district in system.
      operationId: postDistrict
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  name: Florida District
                  lmsId: 1
                  districtLmsId: 10
            schema:
              $ref: '#/components/schemas/postDistrict_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to add the specified
                      district's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                district not found:
                  value:
                    error: The district information not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: District already exist
              schema:
                $ref: '#/components/schemas/Error'
          description: District already exist
        "500":
          content:
            application/json:
              examples:
                internal error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/postUserResetPasswordRequest_500_response'
          description: Internal Server Error
      summary: District API POST
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /district/{districtId}:
    delete:
      description: Delete district
      operationId: deleteDistrict
      parameters:
      - explode: false
        in: path
        name: districtId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: Invalid district id..
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to delete the specified
                      district's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                user not found:
                  value:
                    error: The specified district not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Delete district
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
    get:
      description: This API gives the district by districtId.
      operationId: getDistrictByDistrictId
      parameters:
      - explode: false
        in: path
        name: districtId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/District'
          description: OK
        "400":
          content:
            application/json:
              examples:
                bad request:
                  value:
                    error: Invalid format of districtId.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The user is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/postUserResetPasswordRequest_500_response'
          description: Internal Server Error
      summary: Get District By districtId
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
    put:
      description: District PUT API call when user want to edit district in system.
      operationId: putDistrict
      parameters:
      - explode: false
        in: path
        name: districtId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  name: Florida District
                  lmsId: 1
                  districtLmsId: 10
            schema:
              $ref: '#/components/schemas/putDistrict_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to add the specified
                      district's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                district not found:
                  value:
                    error: The specified district not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: District already exist
              schema:
                $ref: '#/components/schemas/Error'
          description: District already exist
        "500":
          content:
            application/json:
              examples:
                internal error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/postUserResetPasswordRequest_500_response'
          description: Internal Server Error
      summary: District API PUT
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /district/{districtId}/administrators:
    get:
      description: This API provides a list of all the administrators.
      operationId: getAdministrators
      parameters:
      - explode: false
        in: path
        name: districtId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: administratorIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    administrators:
                      administrators:
                      - userId: "1"
                        districtId: "1"
                        administratorId: "1"
                        email: admin1@email.com
                        firstName: admin
                        lastName: one
                        administratorLMSId: "1"
                        createdUserId: "1"
                        createdDate: 02 oct 2022
                      - userId: "2"
                        districtId: "1"
                        administratorId: "1"
                        email: admin2@email.com
                        firstName: admin
                        lastName: two
                        administratorLMSId: "2"
                        createdUserId: "2"
                        createdDate: 02 oct 2022
                      - userId: "3"
                        districtId: "1"
                        administratorId: "1"
                        email: admin3@email.com
                        firstName: admin
                        lastName: three
                        administratorLMSId: "3"
                        createdUserId: "3"
                        createdDate: 02 oct 2022
              schema:
                $ref: '#/components/schemas/getAdministrators_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: Invalid request.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to view the specified
                      administrator's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                user not found:
                  value:
                    error: The specified district not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get All Administrators
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
    post:
      operationId: postAdministrators
      parameters:
      - explode: false
        in: path
        name: districtId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: administratorIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  administrators:
                  - email: admin1@email.com
                    firstName: admin1_first_name
                    lastName: admin1_last_name
                    administratorLMSId: admin1_adminisitrator_lms_id
                  - email: admin2@email.com
                    firstName: admin2_first_name
                    lastName: admin2_last_name
                    administratorLMSId: admin2_adminisitrator_lms_id
                  - email: admin3@email.com
                    firstName: admin3_first_name
                    lastName: admin3_last_name
                    administratorLMSId: admin3_adminisitrator_lms_id
            schema:
              $ref: '#/components/schemas/postAdministrators_request'
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    message: ok
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                badRequest:
                  value:
                    error:
                    - index: 0
                      message:
                      - duplicateRecordsWithSameEmail
                      - userAlreadyExistWithEmail
                    - index: 2
                      message:
                      - duplicateRecordsWithSameEmail
                      - userAlreadyExistWithEmail
                      - emailInvalid
                      - emailNotProvided
              schema:
                $ref: '#/components/schemas/postAdministrators_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to add the administrators
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                user not found:
                  value:
                    error: The specified district not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Create administrators from the given email ids
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /administrator/{administratorId}:
    delete:
      description: delete an administrator
      operationId: deleteAdministrator
      parameters:
      - explode: false
        in: path
        name: administratorId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: Invalid request.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to delete an administrator
                      information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                admnistrator not found:
                  value:
                    error: The specified administrator not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/postUserResetPasswordRequest_500_response'
          description: Internal Server Error
      summary: Delete an administrator
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
    put:
      description: Administrator PUT API call when user want to edit administrator
        in system.
      operationId: putAdministrator
      parameters:
      - explode: false
        in: path
        name: administratorId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  administrator:
                    email: admin1@email.com
                    firstName: admin
                    lastName: one
                    administratorLMSId: 1
            schema:
              $ref: '#/components/schemas/putAdministrator_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: Invalid request.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to add the specified
                      administrator's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                district not found:
                  value:
                    error: The specified administrator not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Administrator already exist
              schema:
                $ref: '#/components/schemas/Error'
          description: Administrator already exist
        "500":
          content:
            application/json:
              examples:
                internal error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/postUserResetPasswordRequest_500_response'
          description: Internal Server Error
      summary: Administrator API PUT
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /district/{districtId}/organizations:
    get:
      description: |-
        This API provides all the organizations.
        If the user pointed to by the token does not have permission to view the information for the specified userId, an error will occur.
      operationId: getOrganizations
      parameters:
      - explode: false
        in: path
        name: districtId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: organizationIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    organizations:
                    - id: organization-1
                      name: Sunrise
                      districtId: district-1
                      stateId: state-1
                      createdUserId: user-id-1
                      organizationLMSId: 1
                      createdDate: 2022-05-17T11:54:02.141Z
                      updatedDate: 2022-05-17T11:54:02.141Z
                    - id: Delta
                      name: organization 1
                      districtId: district-1
                      stateId: state-1
                      createdUserId: user-id-1
                      organizationLMSId: 1
                      createdDate: 2022-05-17T11:54:02.141Z
                      updatedDate: 2022-05-17T11:54:02.141Z
              schema:
                $ref: '#/components/schemas/getOrganizations_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to view the specified
                      organization's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get All Organizations
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /organization:
    post:
      description: Organization POST API call when user want to add organization in
        system.
      operationId: postOrganization
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  name: Sunrise
                  districtId: district-1
                  stateId: state-1
            schema:
              $ref: '#/components/schemas/postOrganization_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to add organization
                      information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: organization already exist.
              schema:
                $ref: '#/components/schemas/Error'
          description: given organization already exist in same district
        "500":
          content:
            application/json:
              examples:
                internal error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/postUserResetPasswordRequest_500_response'
          description: Internal Server Error
      summary: Organization API POST
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /organization/{organizationId}:
    delete:
      description: Organization DELETE API call when user want to delete organization
        in system.
      operationId: deleteOrganization
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: Invalid Organization id..
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to delete the specified
                      organization
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                organization not found:
                  value:
                    error: The specified organization not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Delete Organization
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
    put:
      description: Organization PUT API call when user want to edit organization information
        in system.
      operationId: putOrganization
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  name: Sunrise
                  districtId: district-1
                  stateId: state-1
            schema:
              $ref: '#/components/schemas/postOrganization_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: Invalid request.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to edit the specified
                      organization information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                organization not found:
                  value:
                    error: The specified organization not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Organization already exist in same district
              schema:
                $ref: '#/components/schemas/Error'
          description: Organization already exist in same district
        "500":
          content:
            application/json:
              examples:
                internal error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/postUserResetPasswordRequest_500_response'
          description: Internal Server Error
      summary: Organization API PUT
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /organization/{organizationId}/student-groups:
    get:
      description: |-
        This API provides the student groups based on organizationId
        If the user pointed to by the token does not have permission to view the information for the specified student groups, an error will occur.
      operationId: getStudentGroups
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    studentgroups:
                    - id: student-group-1
                      organizationId: organization-id-1
                      name: FL Group
                      grade: grade1
                      studentGroupLmsId: student-group-lms-id-1
                      createdUserId: user-id-1
                      updatedUserId: user-id-1
                      createdDate: 2022-05-17T11:54:02.141Z
                      updatedDate: 2022-05-17T11:54:02.141Z
                    - id: student-group-2
                      organizationId: organization-id-2
                      name: HL Group
                      grade: grade1
                      studentGroupLmsId: student-group-lms-id-1
                      createdUserId: user-id-1
                      updatedUserId: user-id-1
                      createdDate: 2022-05-17T11:54:02.141Z
                      updatedDate: 2022-05-17T11:54:02.141Z
              schema:
                $ref: '#/components/schemas/getStudentGroups_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: Invalid organizationId.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to view the specified
                      student groups's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                user not found:
                  value:
                    error: The specified student group not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get Student Groups based on organizationId
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /organization/{organizationId}/student-group:
    post:
      description: Student Group POST API call when user want to add student group
        in system.
      operationId: postStudentGroup
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  name: Fl Group
                  packageId: package-id-1
                  grade: grade1
                  studentGroupLmsId: 1
            schema:
              $ref: '#/components/schemas/postStudentGroup_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: Invalid organizationId.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to add the specified
                      student group's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                district not found:
                  value:
                    error: The organization information not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Student Group already exist
              schema:
                $ref: '#/components/schemas/Error'
          description: Student Group already exist
        "500":
          content:
            application/json:
              examples:
                internal error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/postUserResetPasswordRequest_500_response'
          description: Internal Server Error
      summary: Student Group API POST
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /organization/{organizationId}/district-lms-information:
    get:
      description: This API provides the district lms information based on organizationId.
      operationId: getDistrictLMSInformationByOrganization
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDistrictLMSInformationByOrganization_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: Invalid format of organizationId.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                district not found:
                  value:
                    error: The specified organization district not found.
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred.
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get district lms information based on organizationId
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /student-group/{studentGroupId}:
    delete:
      description: Delete Student Group
      operationId: deleteStudentGroup
      parameters:
      - explode: false
        in: path
        name: studentGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: Invalid studentGroup id.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to delete the specified
                      student group's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                user not found:
                  value:
                    error: The specified student group not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Delete Student Group
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
    put:
      description: Student Group PUT API call when user want to edit student group
        in system.
      operationId: putStudentGroup
      parameters:
      - explode: false
        in: path
        name: studentGroupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  name: Fl Group
                  packageId: package-id-1
                  grade: grade1
                  studentGroupLmsId: 1
            schema:
              $ref: '#/components/schemas/putStudentGroup_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: Invalid studentGroupId.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to add the specified
                      student group's information
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                student group not found:
                  value:
                    error: The student group information not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Student Group already exist
              schema:
                $ref: '#/components/schemas/Error'
          description: Student Group already exist
        "500":
          content:
            application/json:
              examples:
                internal error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/postUserResetPasswordRequest_500_response'
          description: Internal Server Error
      summary: Student Group API PUT
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /student-group/{studentGroupId}/codeillusion-packages:
    get:
      operationId: getPackageDetailsByStudentGroupId
      parameters:
      - explode: false
        in: path
        name: studentGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPackageDetailsByStudentGroupId_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                bad request:
                  value:
                    error: Invalid studentGroupId.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The user is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The user does not have permission to view all the packages.
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                user not found:
                  value:
                    error: The package not found.
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something went wrong.
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get package details from studentGroupId.
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /student-group/{studentGroupId}/students:
    get:
      description: This API provides the students based on studentGroupId.
      operationId: getStudents
      parameters:
      - explode: false
        in: path
        name: studentGroupId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: studentIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: option
        required: false
        schema:
          default: In
          enum:
          - NotIn
          - In
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    students:
                    - id: student-1
                      userId: user-id-8
                      nickName: Parth
                      loginId: parth123
                      studentLMSId: lms-1
                      email: parth@gmail.com
                      emailToNotify:
                      - parth@gmail.com
                      - parekh@gmail.com
                      createdUserName: user-name-1
                      studentGroupCount: 2
                      studentGroup: "Student-group-1,Student-group-2"
                      createdDate: 2022-05-17T11:54:02.141Z
                    - id: student-2
                      userId: user-id-9
                      nickName: Parekh
                      loginId: parekh123
                      studentLMSId: lms-2
                      email: parekh@gmail.com
                      emailToNotify:
                      - parekh@gmail.com
                      createdUserName: user-name-1
                      createdDate: 2022-05-17T11:54:02.141Z
                      studentGroupCount: 1
                      studentGroup: Student-group-1
              schema:
                $ref: '#/components/schemas/getStudents_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                bad request:
                  value:
                    error: Invalid studentGroupId.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to view the specified
                      student's information.
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                student group not found:
                  value:
                    error: The specified student group not found.
                administrator not found:
                  value:
                    error: administrator not found.
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get Students API
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
    post:
      operationId: postStudents
      parameters:
      - explode: false
        in: path
        name: studentGroupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              success:
                value:
                  students:
                  - nickName: parth
                    loginId: login-id-1
                    password: parth@123
                    studentLMSId: lms-id-1
                    email: parth@gmail.com
                    emailsToNotify:
                    - parth@gmail.com
                    - parekh@gmail.com
                  - nickName: chirag
                    loginId: login-id-2
                    password: chirag@123
                    email: chirag@gmail.com
                    studentLMSId: lms-id-2
                    emailsToNotify:
                    - chirag@gmail.com
                    - patel@gmail.com
            schema:
              $ref: '#/components/schemas/postStudents_request'
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    message: ok
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                bad request:
                  value:
                    error:
                    - index: 0
                      message:
                      - duplicateRecordsWithSameLoginId
                      - duplicateRecordsWithStudentLMSId
                    - index: 2
                      message:
                      - invalidEmail
                      - loginIdAlreadyExists
                      - loginIdNotProvided
                      - nickNameNotProvided
                      - emptyPassword
              schema:
                $ref: '#/components/schemas/postStudents_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to add the students.
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                student group not found:
                  value:
                    error: The specified student group not found.
                administrator not found:
                  value:
                    error: administrator not found.
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal server error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Student API POST
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
  /student-group/{studentGroupId}/students/{studentId}:
    delete:
      description: DELETE API call when user Internal Operator or Administrator want
        to remove the student from studentGroup.
      operationId: deleteStudentFromStudentGroup
      parameters:
      - explode: false
        in: path
        name: studentGroupId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: studentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClasslinkRosterSync_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                Invalid studentGroupId:
                  value:
                    error: Invalid studentGroupId.
                Invalid studentId:
                  value:
                    error: Invalid studentId.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  value:
                    error: The token is not authorized.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  value:
                    error: The token does not have permission to delete the specified
                      student from student-group.
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                student group not found:
                  value:
                    error: The specified student group not found.
                student not found:
                  value:
                    error: The specified student not found in student group.
                administrator not found:
                  value:
                    error: administrator not found.
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                internal error:
                  value:
                    error: Something wrong has occurred
              schema:
                $ref: '#/components/schemas/postUserResetPasswordRequest_500_response'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: This API remove student in studentgroup
      tags:
      - codex
      x-eov-operation-handler: controllers/CodexController
    post:
      description: This API add existing student to student group
      operationId: postStudentInStudentGroup
      parameters:
      - explode: false
        in: path
        name: studentGroupId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
[...]
